.App {
  text-align: center;
  margin: 5% 25%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-color: blueviolet;
  color: white;
  border: 2px solid black;
  font-size: 20px;
  margin: 0px auto;
  text-align: center;
}